h1 {
    color: lightslategray;
    text-transform: uppercase;
}
body {
    text-align: center;
    background: lightgray;
    display: flex;
    justify-content: center;
}

.balloons{
    background-color: red;
    font-size: 20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 0px;
    display: inline-block;
}

#whenPopped {
    display: none;
    font-size: 30px;
    text-transform: uppercase;
}
.wrapper {
    max-width: 550px;
   
}
#balloons-gallery div:nth-child(3n){
    background: #ffce00;
}
#balloons-gallery div:nth-child(3n-1){
    background: lightskyblue;
}